# Archivos generados por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Archivos de configuración del sistema
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Rider
.idea/
*.sln.iml

# VSCode
.vscode/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Unity Asset Store tools
Assets/AssetStoreTools*

# Archivos de colisiones con Git
*.orig

# Archivos de configuración personal
*.swp
